* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #655DBB;
  color: white;
}

.conteiner-header {
  display: flex;
  flex-flow: row wrap;
  flex-direction: none;
  list-style: space-evenly;
  justify-content: space-around;
  align-items: center;
  gap: none;
  flex-wrap: none;
  width: 100%;
}

.navbarindex {
  display: flex;
  flex-flow: none;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex-wrap: none;
  padding-top: 35px;
  padding-bottom: 5px;
}

.navbarr li a {
  text-decoration: none;
  color: white;
}

.conteiner-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  color: white;
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #655DBB;
}
.conteiner-cards .a1index {
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #655DBB;
}
.conteiner-cards .a2index {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #655DBB;
}
.conteiner-cards .a3index {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 6;
  background-color: #655DBB;
}
.conteiner-cards .a4index {
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 6;
  background-color: #655DBB;
}
.conteiner-cards .a5index {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #655DBB;
}
.conteiner-cards .t1index {
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 3;
  background-color: #655DBB;
}
.conteiner-cards .t2index {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #655DBB;
}
.conteiner-cards .t3index {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 7;
  background-color: #655DBB;
}
.conteiner-cards .t4index {
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 6;
  grid-row-end: 7;
  background-color: #655DBB;
}

.mb-3 {
  display: flex;
  flex-flow: none;
  flex-direction: row;
  list-style: none;
  justify-content: none;
  align-items: right;
  gap: none;
  flex-wrap: none;
  gap: 30px;
  padding-top: 35px;
  padding-bottom: 5px;
}

@media(max-width:380px){
    .navbarindex{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:380px){
    .a1index{
        display: none;
    }
}
@media(max-width:380px){
    .a2index{
        display: none;
    }
}
@media(max-width:380px){
    .a3index{
        display: none;
    }
}
@media(max-width:380px){
    .a4index{
        display: none;
    }
}
@media(max-width:380px){
    .a5index{
        display: none;
    }
}
/* main */
@media(max-width:380px){
    .conteiner-cards{
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(7,1fr);
    }
}
@media(max-width:380px){
    .t4index{
        grid-column-start: 6;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
    }
}
@media(max-width:380px){
    .t3index{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}
@media(max-width:380px){
    .t1index{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
@media(max-width:380px){
    .t2index{
        grid-column-start: 6;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

@media(max-width:380px){
  .marcas-cards{
      grid-template-columns: repeat(5,1fr);
      grid-template-rows: repeat(7,1fr);
  }
}
@media(max-width:380px){
  .p1marcas{
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 3;
  }
}
@media(max-width:380px){
  .h2marcas{
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
  }
}
@media(max-width:380px){
  .a1marcas{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
  }
}
@media(max-width:380px){
  .a2marcas{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 6;
      grid-row-end: 7;
  }
}
@media(max-width:380px){
  .a3marcas{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
  }
}
@media(max-width:380px){
  .a4marcas{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 5;
  }
}

@media(max-width:380px){
  .productos-cards{
      grid-template-columns: repeat(5,1fr);
      grid-template-rows: repeat(7,1fr);
  }
}
@media(max-width:380px){
  .p1productos{
      display: none;
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 3;
  }
}
@media(max-width:380px){
  .h2prodcutos{
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
  }
}
@media(max-width:380px){
  .a1productos{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
  }
}
@media(max-width:380px){
  .a2productos{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 6;
      grid-row-end: 7;
  }
}
@media(max-width:380px){
  .a3productos{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
  }
}
@media(max-width:380px){
  .a4productos{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 5;
      grid-row-end: 6;
  }
}
@media(max-width:380px){
  .a5productos{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
  }
}

@media(max-width:380px){
  .p1tipodecabello{
      display: none;
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 3;
  }
}
@media(max-width:380px){
  .h2tipodecabello{
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
  }
}
@media(max-width:380px){
  .a1tipodecabello{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
  }
}
@media(max-width:380px){
  .a2tipodecabello{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 6;
      grid-row-end: 7;
  }
}
@media(max-width:380px){
  .a3tipodecabello{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
  }
}
@media(max-width:380px){
  .a4tipodecabello{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 5;
      grid-row-end: 6;
  }
}
@media(max-width:380px){
  .a5tipodecabello{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
  }
}
@media(max-width:380px){
  .a6tipodecabello{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 5;
  }
}

@media(max-width:380px){
  .barberos-cards{
      grid-template-columns: repeat(5,1fr);
      grid-template-rows: repeat(7,1fr);
  }
}
@media(max-width:380px){
  .p1barberos{
      display: none;
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 3;
  }
}
@media(max-width:380px){
  .h2barberos{
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
  }
}
@media(max-width:380px){
  .a1barberos{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
  }
}
@media(max-width:380px){
  .a2barberos{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 6;
      grid-row-end: 7;
  }
}
@media(max-width:380px){
  .a3barberos{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
  }
}
@media(max-width:380px){
  .a4barberos{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 5;
  }
}
@media(max-width:380px){
  .a5barberos{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
  }
}

/*# sourceMappingURL=style.css.map */
