* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #655DBB;
  color: white;
}

.conteiner-header {
  display: flex;
  flex-flow: row wrap;
  flex-direction: none;
  list-style: space-evenly;
  justify-content: space-around;
  align-items: center;
  gap: none;
  flex-wrap: none;
  width: 100%;
}

.navbarindex {
  display: flex;
  flex-flow: none;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex-wrap: none;
  padding-top: 35px;
  padding-bottom: 5px;
}
.navbarindex .Iniciobar {
  color: white;
}
.navbarindex .Marcasbar {
  color: white;
}
.navbarindex .Productosbar {
  color: white;
}
.navbarindex .Tipos-de-cabello-Bar {
  color: white;
}
.navbarindex .Barberiabar {
  color: white;
}
.navbarindex .Contactanosbar {
  color: white;
}

.navbarr li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 380px) {
  .navbarindex {
    display: flex;
    flex-flow: none;
    flex-direction: column;
    list-style: none;
    justify-content: none;
    align-items: none;
    gap: none;
    flex-wrap: none;
  }
}
@media (min-width: 768px) and (max-width: 2560px) {
  .conteiner-cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .a1index {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #655DBB;
  }
  .a2index {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #655DBB;
  }
  .a3index {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #655DBB;
  }
  .a4index {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #655DBB;
  }
  .a5index {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #655DBB;
  }
  .t1index {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 3;
    background-color: #655DBB;
    color: white;
  }
  .t2index {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #655DBB;
  }
  .t3index {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: #655DBB;
  }
  .t4index {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: #655DBB;
  }
  .Productos1 {
    color: white;
  }
  .Marcas1 {
    color: white;
  }
  .Tipos-de-cabello-1 {
    color: white;
  }
  .Barberia1 {
    color: white;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .conteiner-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .a5index {
    display: none;
  }
  .a4index {
    grid-column-start: 6;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    display: none;
  }
  .a3index {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    display: none;
  }
  .a2index {
    grid-column-start: 6;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: none;
  }
  .a1index {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: none;
  }
  .t4index {
    grid-column-start: 6;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: #655DBB;
  }
  .t3index {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #655DBB;
  }
  .t2index {
    grid-column-start: 6;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #655DBB;
  }
  .t1index {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #655DBB;
  }
  .Productos1 {
    color: white;
  }
  .Marcas1 {
    color: white;
  }
  .Tipos-de-cabello-1 {
    color: white;
  }
  .Barberia1 {
    color: white;
  }
}
header {
  background-color: #655DBB;
  color: white;
}

.conteiner-header-marcas {
  display: flex;
  flex-flow: row wrap;
  flex-direction: none;
  list-style: space-evenly;
  justify-content: space-around;
  align-items: center;
  gap: none;
  flex-wrap: none;
  width: 100%;
}

.navbarmarcas {
  display: flex;
  flex-flow: none;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex-wrap: none;
  padding-top: 35px;
  padding-bottom: 5px;
}
.navbarmarcas .Iniciobar {
  color: white;
}
.navbarmarcas .Marcasbar {
  color: white;
}
.navbarmarcas .Productosbar {
  color: white;
}
.navbarmarcas .Tipos-de-cabello-Bar {
  color: white;
}
.navbarmarcas .Barberiabar {
  color: white;
}
.navbarmarcas .Contactanosbar {
  color: white;
}

.navbarr li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 380px) {
  .navbarmarcas {
    display: flex;
    flex-flow: none;
    flex-direction: column;
    list-style: none;
    justify-content: none;
    align-items: none;
    gap: none;
    flex-wrap: none;
  }
}
@media (min-width: 768px) and (max-width: 2560px) {
  .marcas-cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .marcas-cards .a1marcas {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #655DBB;
  }
  .marcas-cards .a2marcas {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #655DBB;
  }
  .marcas-cards .a3marcas {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #655DBB;
  }
  .marcas-cards .a4marcas {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #655DBB;
  }
  .marcas-cards .p1marcas {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #655DBB;
  }
  .marcas-cards .h2marcas {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #655DBB;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .marcas-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .a1marcas {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .a2marcas {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .a3marcas {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .a4marcas {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .p1marcas {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .h2marcas {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
header {
  background-color: #655DBB;
  color: white;
}

.conteiner-header-productos {
  display: flex;
  flex-flow: row wrap;
  flex-direction: none;
  list-style: space-evenly;
  justify-content: space-around;
  align-items: center;
  gap: none;
  flex-wrap: none;
  width: 100%;
}

.navbarproductos {
  display: flex;
  flex-flow: none;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex-wrap: none;
  padding-top: 35px;
  padding-bottom: 5px;
}
.navbarproductos .Iniciobar {
  color: white;
}
.navbarproductos .Marcasbar {
  color: white;
}
.navbarproductos .Productosbar {
  color: white;
}
.navbarproductos .Tipos-de-cabello-Bar {
  color: white;
}
.navbarproductos .Barberiabar {
  color: white;
}
.navbarproductos .Contactanosbar {
  color: white;
}

.navbarr li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 380px) {
  .navbarproductos {
    display: flex;
    flex-flow: none;
    flex-direction: column;
    list-style: none;
    justify-content: none;
    align-items: none;
    gap: none;
    flex-wrap: none;
  }
}
@media (min-width: 768px) and (max-width: 2560px) {
  .productos-cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .productos-cards .a1productos {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 3;
    background-color: #655DBB;
  }
  .productos-cards .a2productos {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #655DBB;
  }
  .productos-cards .a3productos {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #655DBB;
  }
  .productos-cards .a4productos {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #655DBB;
  }
  .productos-cards .a5productos {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #655DBB;
  }
  .productos-cards .p1productos {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #655DBB;
  }
  .productos-cards .h2productos {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #655DBB;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .productos-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .a1productos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .a2productos {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .a3productos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .a4productos {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .a5productos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .p1productos {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .h2productos {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
header {
  background-color: #655DBB;
  color: white;
}

.conteiner-header-tipodecabello {
  display: flex;
  flex-flow: row wrap;
  flex-direction: none;
  list-style: space-evenly;
  justify-content: space-around;
  align-items: center;
  gap: none;
  flex-wrap: none;
  width: 100%;
}

.navbartipodecabello {
  display: flex;
  flex-flow: none;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex-wrap: none;
  padding-top: 35px;
  padding-bottom: 5px;
}
.navbartipodecabello .Iniciobar {
  color: white;
}
.navbartipodecabello .Marcasbar {
  color: white;
}
.navbartipodecabello .Productosbar {
  color: white;
}
.navbartipodecabello .Tipos-de-cabello-Bar {
  color: white;
}
.navbartipodecabello .Barberiabar {
  color: white;
}
.navbartipodecabello .Contactanosbar {
  color: white;
}

.navbarr li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 380px) {
  .navbartipodecabello {
    display: flex;
    flex-flow: none;
    flex-direction: column;
    list-style: none;
    justify-content: none;
    align-items: none;
    gap: none;
    flex-wrap: none;
  }
}
@media (min-width: 768px) and (max-width: 2560px) {
  .tipodecabello-cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .tipodecabello-cards .a1tipodecabello {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #655DBB;
  }
  .tipodecabello-cards .a2tipodecabello {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #655DBB;
  }
  .tipodecabello-cards .a3tipodecabello {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #655DBB;
  }
  .tipodecabello-cards .a4tipodecabello {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #655DBB;
  }
  .tipodecabello-cards .a5tipodecabello {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #655DBB;
  }
  .tipodecabello-cards .a6tipodecabello {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #655DBB;
  }
  .tipodecabello-cards .p1tipodecabello {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #655DBB;
  }
  .tipodecabello-cards .h2tipodecabello {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #655DBB;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .tipodecabello-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .a1tipodecabello {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .a2tipodecabello {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .a3tipodecabello {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .a4tipodecabello {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .a5tipodecabello {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .a6tipodecabello {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .p1tipodecabello {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .h2tipodecabello {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
.conteiner-header-barberos {
  background-color: #DF2E38;
  color: white;
}

.conteiner-header-barberos {
  display: flex;
  flex-flow: row wrap;
  flex-direction: none;
  list-style: space-evenly;
  justify-content: space-around;
  align-items: center;
  gap: none;
  flex-wrap: none;
  width: 100%;
}

.navbarbarberos {
  display: flex;
  flex-flow: none;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex-wrap: none;
  padding-top: 35px;
  padding-bottom: 5px;
}
.navbarbarberos .Iniciobar {
  color: white;
}
.navbarbarberos .Marcasbar {
  color: white;
}
.navbarbarberos .Productosbar {
  color: white;
}
.navbarbarberos .Tipos-de-cabello-Bar {
  color: white;
}
.navbarbarberos .Barberiabar {
  color: white;
}
.navbarbarberos .Contactanosbar {
  color: white;
}

.navbarr li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 380px) {
  .navbarbarberos {
    display: flex;
    flex-flow: none;
    flex-direction: column;
    list-style: none;
    justify-content: none;
    align-items: none;
    gap: none;
    flex-wrap: none;
  }
}
@media (min-width: 768px) and (max-width: 2560px) {
  .barberos-cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-image: url("https://images.unsplash.com/photo-1628155524928-35c02b8ac4d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .barberos-cards .a1barberos {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 3;
    background-color: #DF2E38;
  }
  .barberos-cards .a2barberos {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #DF2E38;
  }
  .barberos-cards .a3barberos {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #DF2E38;
  }
  .barberos-cards .a4barberos {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #DF2E38;
  }
  .barberos-cards .a5barberos {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #DF2E38;
  }
  .barberos-cards .p1barberos {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #DF2E38;
  }
  .barberos-cards .h2barberos {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #DF2E38;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .barberos-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .a1barberos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .a2barberos {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .a3barberos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .a4barberos {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .a5barberos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .p1barberos {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .h2barberos {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
@media (min-width: 768px) and (max-width: 2560px) {
  .conteiner-contacto {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .conteiner-contacto .input-nombre {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #655DBB;
  }
  .conteiner-contacto .email-input {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #655DBB;
  }
  .conteiner-contacto .celular-input {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #655DBB;
  }
  .conteiner-contacto .Dudas-input {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: #655DBB;
  }
  .conteiner-contacto .h2contactos {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #655DBB;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .conteiner-contacto {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .input-nombre {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .email-input {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .celular-input {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .Dudas-input {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .h2contactos {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
header {
  background-color: #655DBB;
  color: white;
}

.conteiner-header-contactos {
  display: flex;
  flex-flow: row wrap;
  flex-direction: none;
  list-style: space-evenly;
  justify-content: space-around;
  align-items: center;
  gap: none;
  flex-wrap: none;
  width: 100%;
}

.navbarcontactos {
  display: flex;
  flex-flow: none;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex-wrap: none;
  padding-top: 35px;
  padding-bottom: 5px;
}
.navbarcontactos .Iniciobar {
  color: white;
}
.navbarcontactos .Marcasbar {
  color: white;
}
.navbarcontactos .Productosbar {
  color: white;
}
.navbarcontactos .Tipos-de-cabello-Bar {
  color: white;
}
.navbarcontactos .Barberiabar {
  color: white;
}
.navbarcontactos .Contactanosbar {
  color: white;
}

.navbarr li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 380px) {
  .navbarcontactos {
    display: flex;
    flex-flow: none;
    flex-direction: column;
    list-style: none;
    justify-content: none;
    align-items: none;
    gap: none;
    flex-wrap: none;
  }
}

/*# sourceMappingURL=style.css.map */
