@mixin display ($flow, $direction, $style, $justify, $align, $gap, $wrap){
    display: flex;
    flex-flow: $flow;
    flex-direction: $direction;
    list-style: $style;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap; 
}
@mixin grid($cols, $rows){
    display: grid;
    grid-template-columns: $cols;
    grid-template-rows: $rows;
}
@mixin grid-order($cs, $cn, $rs, $rn){
    grid-column-start: $cs;
    grid-column-end: $cn;
    grid-row-start: $rs;
    grid-row-end: $rn;
}
