.conteiner-header-barberos{
    background-color: #DF2E38;
    color: white;
}
.conteiner-header-barberos{
    @include display (row wrap, none, space-evenly, space-around, center, none, none);
    width: 100%;
}
.navbarbarberos{
    @include display (none, row, none, flex-end, center, 30px, none);
    padding-top: 35px;
    padding-bottom: 5px;
    .Iniciobar{
        color: white;
    }
    .Marcasbar{
        color: white;
    }
    .Productosbar{
        color: white;
    }
    .Tipos-de-cabello-Bar{
        color: white;
    }
    .Barberiabar{
        color: white;
    }
    .Contactanosbar{
        color: white;
    }
}
.navbarr li a{
    text-decoration: none;
    color: white;
}