header{
    background-color: $color-secondary;
    color: $color-primario;
}
.conteiner-header-contactos{
    @include display (row wrap, none, space-evenly, space-around, center, none, none);
    width: 100%;
}
.navbarcontactos{
    @include display (none, row, none, flex-end, center, 30px, none);
    padding-top: 35px;
    padding-bottom: 5px;
    .Iniciobar{
        color: $color-primario;
    }
    .Marcasbar{
        color: $color-primario;
    }
    .Productosbar{
        color: $color-primario;
    }
    .Tipos-de-cabello-Bar{
        color: $color-primario;
    }
    .Barberiabar{
        color: $color-primario;
    }
    .Contactanosbar{
        color: $color-primario;
    }
}
.navbarr li a{
    text-decoration: none;
    color: $color-primario;
}
@media (max-width: 380px) {
    .navbarcontactos{
        @include display (none, column, none, none, none, none, none)
    }
}