.conteiner-header-barberos{
    background-color: $color-tercero;
    color: $color-primario;
}
.conteiner-header-barberos{
    @include display (row wrap, none, space-evenly, space-around, center, none, none);
    width: 100%;
}
.navbarbarberos{
    @include display (none, row, none, flex-end, center, 30px, none);
    padding-top: 35px;
    padding-bottom: 5px;
    .Iniciobar{
        color: $color-primario;
    }
    .Marcasbar{
        color: $color-primario;
    }
    .Productosbar{
        color: $color-primario;
    }
    .Tipos-de-cabello-Bar{
        color: $color-primario;
    }
    .Barberiabar{
        color: $color-primario;
    }
    .Contactanosbar{
        color: $color-primario;
    }
}
.navbarr li a{
    text-decoration: none;
    color: $color-primario;
}
@media (max-width: 380px) and (max-width:767px) {
    .navbarbarberos{
        @include display (none, column, none, none, none, none, none)
    }
}
@media(min-width:425px) and (max-width:893px){
    .navbarbarberos{
        @include display (none, column, none, none, none, none, none)
    }
}