@media(min-width:768px) and (max-width:2560px){   
.conteiner-cards{
    @include grid (repeat(12,1fr), repeat(7,1fr));
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: $color-primario;
}
        .a1index{
            @include grid-order (10,11,2,3);
            background-color: $color-secondary;
        }
        .a2index{
            @include grid-order (8,9,2,3);
            background-color: $color-secondary;
        }
        .a3index{
            @include grid-order (8,9,5,6);
            background-color: $color-secondary;
        }
        .a4index{
            @include grid-order (10,11,5,6);
            background-color: $color-secondary;
        }
        .a5index{
            @include grid-order (2,5,2,4);
            background-color: $color-secondary;
        }
        .t1index{
            @include grid-order (10,11,4,3);
            background-color: $color-secondary;
            color: $color-primario; 
        }
        .t2index{
            @include grid-order (8,9,3,4);
            background-color: $color-secondary;
        }
        .t3index{
            @include grid-order (8,9,6,7);
            background-color: $color-secondary;
        }
        .t4index{
            @include grid-order (10,11,6,7);
            background-color: $color-secondary;
        }
        .Productos1{
            color: $color-primario;
        }
        .Marcas1{
            color: $color-primario;
        }
        .Tipos-de-cabello-1{
            color: $color-primario;
        }
        .Barberia1{
            color: $color-primario;
        }
}
    @media(min-width:320px) and (max-width:767px){
        .conteiner-cards{
            @include grid (repeat(5,1fr), repeat(7,1fr));
            background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
            width: 100%;
            height: 600px;
            background-position: center;
            background-size: cover;
            color: $color-primario;
        }
        .a5index{
            display: none;
        }
        .a4index{
            @include grid-order (6,4,4,4);
            display: none;
        }
        .a3index{
            @include grid-order (1,3,5,6);
            display: none;
        }
        .a2index{
            @include grid-order (6,4,2,3);
            display: none;
        }
        .a1index{
            @include grid-order (1,3,3,4);
            display: none;
        }
        .t4index{
            @include grid-order (6,4,4,4);
            background-color: $color-secondary;
        }
        .t3index{
            @include grid-order (1,3,5,6);
            background-color: $color-secondary;
        }
        .t2index{
            @include grid-order (6,4,2,3);
            background-color: $color-secondary;
        }
        .t1index{
            @include grid-order (1,3,3,4);
            background-color: $color-secondary;
        }
        .Productos1{
            color: $color-primario;
        }
        .Marcas1{
            color: $color-primario;
        }
        .Tipos-de-cabello-1{
            color: $color-primario;
        }
        .Barberia1{
            color: $color-primario;
        }
    }