.conteiner-cards{
    @include grid (repeat(12,1fr), repeat(7,1fr));
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
        .a1index{
            @include grid-order (10,11,2,3);
            background-color: #655DBB;
        }
        .a2index{
            @include grid-order (8,9,2,3);
            background-color: #655DBB;
        }
        .a3index{
            @include grid-order (8,9,5,6);
            background-color: #655DBB;
        }
        .a4index{
            @include grid-order (10,11,5,6);
            background-color: #655DBB;
        }
        .a5index{
            @include grid-order (2,5,2,4);
            background-color: #655DBB;
        }
        .t1index{
            @include grid-order (10,11,4,3);
            background-color: #655DBB;
            color: white; 
        }
        .t2index{
            @include grid-order (8,9,3,4);
            background-color: #655DBB;
        }
        .t3index{
            @include grid-order (8,9,6,7);
            background-color: #655DBB;
        }
        .t4index{
            @include grid-order (10,11,6,7);
            background-color: #655DBB;
        }
        .Productos1{
            color: white;
        }
        .Marcas1{
            color: white;
        }
        .Tipos-de-cabello-1{
            color: white;
        }
        .Barberia1{
            color: white;
        }
    }

    @media(max-width:380px){
        .conteiner-cards{
            @include grid (repeat(5,1fr), repeat(7,1fr));
        }
        .a5index{
            display: none;
        }
        .a4index{
            display: none;
        }
        .a3index{
            display: none;
        }
        .a2index{
            display: none;
        }
        .a1index{
            display: none;
        }
        .t4index{
            @include grid-order (6,4,4,4);
        }
        .t3index{
            @include grid-order (1,3,5,6);
        }
        .t2index{
            @include grid-order (6,4,2,3);
        }
        .t1index{
            @include grid-order (1,3,3,4);
        }
        .h2marcas{
            @include grid-order (1,3,3,4);
        }
    }