@media(min-width:768px) and (max-width:2560px){
.barberos-cards{
    @include grid (repeat(12,1fr), repeat(7,1fr));
    background-image: url("https://images.unsplash.com/photo-1628155524928-35c02b8ac4d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: $color-primario;
        .a1barberos{
            @include grid-order (10,11,4,3);
            background-color: $color-tercero;
        }
        .a2barberos{
            @include grid-order (8,9,3,4);
            background-color: $color-tercero;
        }
        .a3barberos{
            @include grid-order (9,10,4,5);
            background-color: $color-tercero;
        }
        .a4barberos{
            @include grid-order (10,11,5,6);
            background-color: $color-tercero;
        }
        .a5barberos{
            @include grid-order (8,9,5,6);
            background-color: $color-tercero;
        }
        .p1barberos{
            @include grid-order (2,6,4,5);
            background-color: $color-tercero;
        }
        .h2barberos{
            @include grid-order (2,5,2,3);
            background-color: $color-tercero;
        }
    }
}
@media(min-width:320px) and (max-width:767px){
    .barberos-cards{
        @include grid (repeat(5,1fr), repeat(7,1fr));
        background-image: url("https://images.unsplash.com/photo-1628155524928-35c02b8ac4d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80");
        width: 100%;
        height: 600px;
        background-position: center;
        background-size: cover;
        color: $color-primario;
    }
    .a1barberos{
        @include grid-order (2,3,4,5);
    }
    .a2barberos{
        @include grid-order (4,5,6,7);
    }
    .a3barberos{
        @include grid-order (2,3,6,7);
    }
    .a4barberos{
        @include grid-order (4,5,4,5);
    }
    .a5barberos{
        @include grid-order (2,3,5,6);
    }
    .p1barberos{
        @include grid-order (1,7,2,3);
    } 
    .h2barberos{
        @include grid-order (2,4,1,2);
    } 
}
@media(min-width:425) and (max-width:893px){
    .barberos-cards{
        @include grid (repeat(5,1fr), repeat(7,1fr));
        background-image: url("https://images.unsplash.com/photo-1628155524928-35c02b8ac4d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80");
        width: 100%;
        height: 600px;
        background-position: center;
        background-size: cover;
        color: $color-primario;
    }
    .a1barberos{
        @include grid-order (2,3,4,5);
    }
    .a2barberos{
        @include grid-order (4,5,6,7);
    }
    .a3barberos{
        @include grid-order (2,3,6,7);
    }
    .a4barberos{
        @include grid-order (4,5,4,5);
    }
    .a5barberos{
        @include grid-order (2,3,5,6);
    }
    .p1barberos{
        @include grid-order (1,7,2,3);
    } 
    .h2barberos{
        @include grid-order (2,4,1,2);
    } 
}
@media(min-width:768px) and (max-width:2560px){
        .contenido-adicional-barberia{
        @include grid (repeat(12,1fr), repeat(7,1fr));
        background-color: $color-tercero;
        width: 100%;
        height: 600px;
        background-position: center;
        background-size: cover;
        color: $color-primario;
            .h3CABA{
                @include grid-order (2,7,1,2);
                background-color: $color-septimo;
            }
            .caba1{
                @include grid-order (4,7,2,3);
                background-color: $color-septimo;
            }
            .caba2{
                @include grid-order (4,7,3,4);
                background-color: $color-septimo;
            }
            .caba3{
                @include grid-order (4,7,4,5);
                background-color: $color-septimo;
            }
            .caba4{
                @include grid-order (9,12,4,5);
                background-color: $color-septimo;
            }
            .caba5{
                @include grid-order (9,12,2,3);
                background-color: $color-septimo;
            }
            .cabai1{
                @include grid-order (2,4,2,3);
                background-color: $color-septimo;
            }
            .cabai2{
                @include grid-order (2,4,3,4);
                background-color: $color-septimo;
            }
            .cabai3{
                @include grid-order (2,4,4,5);
                background-color: $color-septimo;
            }
            .cabai4{
                @include grid-order (8,9,4,5);
                background-color: $color-septimo;
            }
            .cabai5{
                @include grid-order (8,9,2,3);
                background-color: $color-septimo;
            }
        }
    }