.tipodecabello-cards{
    @include grid (repeat(12,1fr), repeat(7,1fr));
    background-image: url("https://images.unsplash.com/photo-1583507264623-e424bcc92e90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    color: white;
        .a1tipodecabello{
            @include grid-order (10,11,3,4);
            background-color: #655DBB;
        }
        .a2tipodecabello{
            @include grid-order (8,9,3,4);
            background-color: #655DBB;
        }
        .a3tipodecabello{
            @include grid-order (8,9,4,5);
            background-color: #655DBB;
        }
        .a4tipodecabello{
            @include grid-order (10,11,5,6);
            background-color: #655DBB;
        }
        .a5tipodecabello{
            @include grid-order (8,9,5,6);
            background-color: #655DBB;
        }
        .a6tipodecabello{
            @include grid-order (10,11,4,5);
            background-color: #655DBB;
        }
        .p1tipodecabello{
            @include grid-order (2,6,4,5);
            background-color: #655DBB;
        }
        .h2tipodecabello{
            @include grid-order (2,5,2,3);
            background-color: #655DBB;
        }
    }